{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<style type="text/css">
  <!--
  .tab { margin-left: 40px; }
  -->
  </style>
<h1>Привет, я автор этой страницы!</h1>
<p class="tab">
  <br>
    Мой аккаунт в Git-hub: <a href="url">https://github.com/Kirill-Bovin</a>
  </br>
  <br>
    Меня вдохновляет сама жизнь со всеми её примочками.
  </br>  
  <br>
    Мир программирования для меня открылся случайным образом.
  </br>  
  <br>
    Некоторые темы даются с трудом, например: декораты и валидаторы.
  </br>
</p>
{% endblock %} 