<article>
  <ul>
    <li>
      Автор: {{ post.author }}
        {% if not flag_profile %}
          <a href="{% url 'posts:profile' post.author %}">все посты пользователя</a>
        {% endif %}
    </li> 
    <li>
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
    </li>
  </ul>
  <p>
    {{ post.text|linebreaks }}
  </p>
    <a href="{% url 'posts:post_detail' post.pk %}">подробная информация </a>
  {% if not flag_group %}
    {% if post.group %} 
      <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
    {% endif %}
  {% endif %} 
</article>